<div class="container mx-auto px-4 md:px-8 pt-4 md:pt-8" data-testid="hero-container">
  <div
    class="relative bg-gray-900 rounded-2xl overflow-hidden mb-8 md:mb-12 h-64 md:h-80 flex items-center justify-center text-center">
    <img [src]="data().imageUrl" [alt]="data().title"
      class="absolute inset-0 w-full h-full object-cover opacity-40 dark:opacity-50"
      data-testid="hero-image">
    <div class="relative z-10 p-4">
      <h1 class="text-4xl md:text-6xl font-bold text-white" data-testid="main-title">{{ data().title }}</h1>
      <p class="mt-2 md:mt-4 text-lg md:text-xl text-gray-200" data-testid="hero-subtitle">{{ data().subtitle }}
      </p>
    </div>
  </div>
</div>